<h1>Quick Arithmetic</h1>
<div>
    <form method="POST" action="/play/">
        <button type="submit" name="play-button">Play</button>
    </form>
    <form method="POST" action="/settings/">
        <button type="submit" name="settings-button">Settings</button>
    </form>
</div>