<div class="game-space">
    <div class="questions">
        <h2>Question:</h2>
        <p>2 * 2 = ?</p>
    </div>
    <div>
        <h2>Answer:</h2>
        <form>
            <input >
            <button type="submit" name="play-button">Submit</button>
        </form>
    </div>
    <aside class="results">
        <div class="current-score">
            <h2>Score:</h2>
        </div>
    </aside>
</div>